<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>API http://api.aladhan.com</title>
		<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>

		<div class="container" ng-controller="ctrl">
			<h1 class="text-center">http://api.aladhan.com base on city and country</h1>
			<h3 class="text-center">Jadwal sholat dan imsyak Provinsi NTB</h3><br />
			<div class="row">
				<div class="col-md-4"><h4 class="text-right">Pilih kota anda</h4></div>
				<div class="col-md-8">
					<select class="form-control"
						ng-model="select_city" 
				        ng-options="opt as opt.name for opt in city"
				        ng-change="changeCity(select_city)">
		        	</select>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Jadwal sholat dan imsyak Bulan {{date | date:'MM yyyy'}}</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover table-striped table-bordered">
				        	<thead>
				        		<tr>
				        			<th>Tanggal</th>
				        			<th>Subuh</th>
				        			<th>Zohor</th>
				        			<th>Asar</th>
				        			<th>Magrib</th>
				        			<th>Isya</th>
				        			<th>Imsyak</th>
				        		</tr>
				        	</thead>
				        	<tbody>
				        		<tr ng-repeat="dt in dataTiming">
				        			<td>{{$index+1}}</td>
				        			<td>{{dt.timings.Fajr}}</td>
				        			<td>{{dt.timings.Dhuhr}}</td>
				        			<td>{{dt.timings.Asr}}</td>
				        			<td class="success">{{dt.timings.Maghrib}}</td>
				        			<td>{{dt.timings.Isha}}</td>
				        			<td class="danger">{{dt.timings.Imsak}}</td>
				        		</tr>
				        	</tbody>
				        </table>
					</div>
				</div>
			</div>				
		</div>
		<script src="./bower_components/angular/angular.min.js"></script>
		<script src="./app.js"></script>
	</body>
</html>